.pulsar-parameters {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pulsar-parameter-input {
	flex: 1;
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	max-width: 50vw;
}

.pulsar-model,
.pulsar-plot,
.pulsar-sky-view {
	height: 100%;
	width: 100%;
	min-height: 0;
	min-width: 0;
}

.pulsar-model.orbit-controls:hover {
	cursor: grab;
}

.pulsar-model.orbit-controls:active {
	cursor: grabbing;
}
