.pulsar-model {
	height: 100%;
	width: 100%;
}

.pulsar-model.orbit-controls:hover {
	cursor: grab;
}

.pulsar-model.orbit-controls:active {
	cursor: grabbing;
}

.pulsar-plot {
	height: 100%;
	width: 100%;
	min-height: 0;
	min-width: 0;
	padding: "100px";
}
